{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Edit Product {{ product.name }}</h1>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.price) }}

        <button type="submit">Update</button>
    {{ form_end(form) }}

{% endblock %}